<h2>Contact me</h2>
<form action="/contact/send-message" method="POST">

  {{#if isSent}}
  <p class="isSent">The message has been sent and project {{file}} has been saved</p>
  {{/if}}

  {{#if isError}}
  <p class="isError">You can't leave fields empty</p>
  {{/if}}

  <label>
    Your name: <input type="text" name="author">
  </label>
  <label>
    Your email: <input type="email" name="sender">
  </label>
  <label>
    Title: <input type="text" name="title">
  </label>
  <label>
    Project file: <input type="file" name="avatar" accept=".gif,.jpg,.jpeg,.png">
  </label>
  <label>
    Message: <textarea name="message"></textarea>
  </label>
  <button type="submit">Send message</button>

</form>