<h2>Contact me</h2>
<form action="/contact/send-message" method="POST">

  <label>
    Your name: <input type="text" name="author">
  </label>
  <label>
    Your email: <input type="email" name="sender">
  </label>
  <label>
    Title: <input type="text" name="title">
  </label>
  <label>
    Project file: <input type="file" name="avatar" accept=".gif,.jpg,.jpeg,.png">
  </label>

    <div class="isSent">
    {{#if isSent}}
    <p>The message has been sent and project {{file}} has been saved</p>
    {{/if}}
  </div>

  <div class="isError">{{#if isError}}
    <p>You can't leave fields empty</p>
    {{/if}}
  </div>
  
  <label>
    Message: <textarea name="message"></textarea>
  </label>
  <button type="submit">Send message</button>

</form>